body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1503264116251-35a269479413");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  font-family: "Roboto", sans-serif;
  color: white;
}
